{
  "presets": [
    "@babel/preset-expo",
    [
      "@babel/preset-env",
      {
        "modules": "auto",
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "expo-router/babel",
    [
      "module-resolver",
      {
        "alias": {
          "components": "./components",
          "constants": "./constants"
        }
      }
    ],
    "@babel/plugin-transform-modules-commonjs"
  ]
}
